@import "tailwindcss";
@import "@heroui/styles";

@source "./";
@source "../index.html";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --apple-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
  }

  body {
    font-family: var(--apple-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: oklch(87.1% 0.006 286.286 / 0.5);
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  :is(.dark *) ::-webkit-scrollbar-thumb {
    background: oklch(70.5% 0.015 286.067 / 0.5);
  }

  ::selection {
    background: oklch(0.6204 0.195 253.83 / 0.3);
  }

  .theme-transition,
  .theme-transition * {
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease, fill 0.5s ease, stroke 0.5s ease !important;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .terminal-host {
    @apply min-w-0 min-h-0 overflow-hidden;
  }
  .xterm {
    @apply p-2;
  }
  .xterm-viewport {
    @apply !overflow-y-auto !overflow-x-hidden;
  }
}
